npm-debug.log
.vscode
**/node_modules
test/**/*.xml
test/coverage
test/report.json
fvt/report.json
fvt/report_fvt.xml
bvt/report.json
bvt/report_bvt.xml
test/performance/*.json
data_migration/*
analysisResults
**/secret.json
**/.secret.json
fvt/out.json
package-lock.json
test/report_lint.txt
