
/* Responsive Iframes */
.iframe-wrapper {
	position: relative; 
	/* padding-bottom: 75%; */
	height: 0; 
	overflow: hidden;
}
.iframe-wrapper-b {
	min-height: 500px;
}
 
.iframe-wrapper iframe {
	position: absolute; 
	top:0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
/* 
.navbar-toggle {
	float:left;
	margin-right: 0px;
	margin-left: 15px;
}

.custom-bell {
	display: block;
	float: left;
	margin-left: 45px;
}

.custom-bell > a {
    line-height: 20px;
    color: #999;

    position: relative;
    display: block;
    padding: 15px 15px;

    text-decoration: none;
    background-color: transparent;
}

#notice_holder > a {
	display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 */

@media only screen and (min-width: 300px) {		
	/* For tablets: */
	.iframe-wrapper { padding-bottom: 75%}
	#notice_holder { width:280px; }
}	
@media only screen and (min-width: 768px) {	
	/* For desktop: */	
	.iframe-wrapper { padding-bottom: 68%}
	#notice_holder { width:450px; }
}

@media only screen and (min-width: 1024px) {	
	/* For Big desktop: */	
	.iframe-wrapper { padding-bottom: 53%}
	#notice_holder { width:600px; }
}
