
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Equipment
		</h1>
	</div>
</div>
<!-- /.row -->

<!-- Equipment -->
<div class="row" id="light_wrapper">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-fw fa-lightbulb-o"></i>Light</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr><th>name</th><th>state</th><th>brightness</th><th>colour</th></tr>
					</thead>
					<tbody id="tbody-rooms" >
						
					</tbody>
				</table>
				</div><!-- /.table-responsive-->
				
				<span id='ts-rooms' class="font-italic" > </span>
			</div><!-- /.panel/body-->
		</div><!-- /.panel-->
	</div><!-- /.col -->
	
</div>
<!-- /.row -->

<script>
	
	var getEquip = async function(){
		var data = await getPromise(SVC.hub + '/api/cache/cron:hue:groups');
		//console.log('equip - data = %j', data);
		$('#tbody-rooms').html('');
		
		var current = new Date();
		var ts = new Date(data.ts);
		var diff = Math.round((current - ts) / (1000 * 60));
		$('#ts-rooms').text(diff + ' minutes ago');
		
		data.rows.forEach(function(s){
			
			var tg_id = "toggle-" + s.kind;
			var tg_on_cs = 'btn-default';
			var tg_off_cs = 'btn-primary active';
			
			if( s.on ){
				tg_on_cs = 'btn-primary active';
				tg_off_cs = 'btn-default';
			}
			
			var tg = '<div class="btn-group btn-toggle" id="' + tg_id + '" st="'+s.on+'">'
				+ '<button class="btn '+tg_on_cs+'">ON</button>'
				+ '<button class="btn '+tg_off_cs+'">OFF</button>'
				+ '</div>';
			
			var row = trow(
				s.name, 
				tg, 
				s.per, 
				(s.state.ct || '')
			);
			$('#tbody-rooms').append(row);
		});
		
	};
	
	var interHolder = run_loop(getEquip, 5000);
	
	$('#tbody-rooms').on('click', '.btn-toggle', async function() {
		
		clearInterval(interHolder);
		var el_id = $(this).attr("id");
		var prev = $(this).attr("st") === 'true';
		
		console.log('toogle click - id = %s | prev = %s', el_id, prev);
		
		var obj = {
			room: el_id.replace("toggle-", ""),
			state: {
				on: !prev
			}
		};
		
		$(this).find('.btn').toggleClass('active'); // effect on both buttons
		$(this).find('.btn').toggleClass('btn-primary'); 
		$(this).find('.btn').toggleClass('btn-default'); 
		
		var res = await postPromise(SVC.hub + '/api/hue', obj);
		
		setTimeout(function(){
			interHolder = run_loop(getEquip, 5000);
		}, 500);
	});
	
</script>


